body {
 background: linear-gradient(to bottom right, #8ED4BB, #082E6A); 
 color: #D6E6F8;
    
}
h1 {
  color: #082E6A;
}
header {
  position: relative;
  background-color: #5280B6;
  color: white;
  text-align: left;
  padding-right: 2%;
  padding-left: 2%;
  box-shadow: 3px 3px 3px #082E6A;
}
/*Navigation*/
#head {
	position: relative;
}
.smallScreen {
	display: none;	
	text-decoration: none;
	color: white;
}
#logo {
  display: inline-block;
}
#menu {
  font-size: 36px;
  display: inline-block;
  position: absolute;
  top: 90px;
  margin-left: 5%;
  padding-left: 10px;
}

#menu a {
  background-color: #476FAE;
  color: #D6E6F8 ;
  text-decoration: none;
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
}


#menu a:visited {
  background-color: #201E75;
}

#menu a:hover {
  background-color: #15436C;
}

#menu a:active {
 background-color: #5BB595;
} 

/*End Nav*/

.infoLeft {
  text-align: left;
  padding-left: 10%;
  background-color: #35649D;
  padding: 20px;
  margin: 15px;
  box-shadow: 3px 3px 3px #082E6A;
  width: 90%;
  margin-right: 80%;
}

.infoRight {
  padding-right: 10%;
  background-color: #5280B6;
  padding: 20px;
  margin: auto;
  box-shadow: 3px 3px 3px #082E6A;
  width: 90%;
}

.infoRight p, .infoRight h1 {
	padding-left: 50%;
	overflow: visible;
}

input[type=text], select, textarea, .driverSignup {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #00CFEC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type=submit]:hover {
  background-color: #028B9E;
}

button {
  background-color: #00CFEC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #028B9E;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#message {
  height: 200px;
}

footer {
  background-color: #3b5998; 
  color: #D6E6F8;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 99%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #082E6A;
  padding-top: 10px; 
}

#radio {
  padding-right: 50px;
  padding-bottom: 50px;
  }
  
#van {
  float:right;
  width:30%;
  position: relative;
  right: 190px;
  bottom: 70px;
  z-index: 0;
}

#why {
  float: left;
  width: 15%;
  position: relative;
  left: 200px;
  bottom: 10px;
}

#pickup {
  width: 50%;
}

#map {
  float: right;
  width: 300px;
  height: 300px;
  position: relative;
  right: 180px;
  top: 10px;
  border-style: solid;
  border-width: 10px;
}

#mapDownload {
  background-color: #476FAE;
  color: #D6E6F8 ;
  padding:10px;
  text-decoration: none;
  box-shadow: 3px 3px 3px #082E6A;
}

#dank {
	left: 600px;
	bottom: -17px;
	position: absolute;
	float: left;
	width: 5%;
	margin: auto;
}

#driverContent, #riderContent {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #35649D;
  padding: 20px;
  margin: auto;
  box-shadow: 3px 3px 3px #082E6A;
  width: 50%;
  border-radius: 40px;
}

#contactContent {
  padding-right: 4%;
  padding-left: 4%;
  width: 40%;
  margin: auto;
  background-color: #35649D;
  border-radius: 40px;
  box-shadow: 3px 3px 3px #082E6A;
}

#contactContent h1{
  text-align: center;
}
@media screen and (min-width:1200px) and (max-width: 1400px) {
	#menu {
	  font-size: 28px;
	}
	#van{
		right: 0px;
		bottom: 40px;
	}
	.infoRight p {
	  padding-left: 40%;
	}
	#map {
		right: 10px;
	}
}

@media screen and (min-width: 1030px) and (max-width: 1200px) {
  #logo img {
    width: 75%;
    height: 75%;
  }
  #menu {
	font-size: 24px;
	top: 70px;
	margin-left: 0%;
  }
  #van {
    display: none;
  }
  #why {
  	display: none;
  }  
  .infoRight p {
	  padding-left: 40%;
	}
	#map {
		display: none;
	}
}

@media screen and (min-width: 830px) and (max-width: 1030px) {
  #head {
    padding-bottom: 2%;
  }
  #logo {
    display: block;
    font-size: 40px;
  	text-align: center;
  	vertical-align: middle;
  	margin: 0 auto;
  }
  #menu {
  	display: block;
	margin: 0 auto;
	text-align: center;
	position: inherit;
	top: 0px;
	padding-left: 0%;
  }
  .infoRight p {
	  padding-left: 20%;
	}
	#map {
		display: none;
	}
}

@media screen and (max-width: 830px) {
	#head {
    padding-bottom: 2%;
  }
  #logo {
    display: block;
    font-size: 40px;
  	text-align: center;
  	vertical-align: middle;
  	margin: 0 auto;
  }
  #menu {
  	display: block;
	margin: 0 auto;
	text-align: center;
	position: inherit;
	top: 0px;
	padding-left: 0%;
	font-size: 32px;
  }
  
  .infoRight p {
	  padding-left: 0%;
	}
}

@media screen and (max-width: 1030px) {
	.largeScreen {
  	display: none;
  }
  .smallScreen {
  	display: inline-block;
  }
  #van {
    display: none;
  }
  #why {
  	display: none;
  }
  #map {
  	display: none;
  }
}